################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PatternsOfEnterpriseApp/.vs/PatternsOfEnterpriseApp/v16
/.vs
